{
  "openapi": "3.0.3",
  "info": {
    "title": "Qnova Backend API",
    "version": "1.0.0",
    "description": "Comprehensive API documentation for Qnova Backend services accessible via API Key and JWT authentication."
  },
  "servers": [
    {
      "url": "https://api.insightflow.studio",
      "description": "Production"
    },
    {
      "url": "https://api.staging.insightflow.studio",
      "description": "Staging"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": "Core analytics endpoints (A1-A9): overview dashboard, agent scorecard, hierarchy comparison, block analytics, leaderboard, score trends, communication analytics, AI vs human calibration, and score consistency."
    },
    {
      "name": "AIAnalytics",
      "description": "AI-powered analytics endpoints (B1-B4): agent AI profile with competency scores, improvement tracking over time, team/org insight reports, and AI summary reports."
    },
    {
      "name": "Monitoring",
      "description": "Quality and question monitoring endpoints: quality monitor with time-bucketed pass rates, question monitor with per-entity breakdowns, analysis chart with configurable views, and evaluation overview."
    },
    {
      "name": "Benchmark",
      "description": "Benchmark matrix: questions grouped by blocks with pass rates across entities (agents, teams, service partners, projects, campaigns)."
    },
    {
      "name": "EvaluationResults",
      "description": "Paginated evaluation results listing with sorting, filtering, and entity name resolution."
    },
    {
      "name": "ManagementReport",
      "description": "Management reporting endpoints: aggregated KPIs with trends, team breakdowns, and AI-generated status reports (Lagebericht)."
    },
    {
      "name": "Chatbot",
      "description": "AI chatbot endpoints for conversational data exploration. Supports multi-turn conversations with tool-calling for analytics queries."
    },
    {
      "name": "Agents",
      "description": "Agent management"
    },
    {
      "name": "Campaigns",
      "description": "Campaign management"
    },
    {
      "name": "Projects",
      "description": "Project management"
    },
    {
      "name": "Teams",
      "description": "Team management"
    },
    {
      "name": "ServicePartners",
      "description": "Service partner management"
    },
    {
      "name": "ProcessingJobs",
      "description": "Processing job management"
    },
    {
      "name": "ProcessingRuns",
      "description": "Processing run management and analysis"
    },
    {
      "name": "Evaluations",
      "description": "Evaluation management"
    },
    {
      "name": "Comments",
      "description": "File comments"
    },
    {
      "name": "AuditLogs",
      "description": "Audit log viewing and export"
    },
    {
      "name": "Lookups",
      "description": "Lookup tag and assignment management"
    },
    {
      "name": "BatchProcessing",
      "description": "Batch filename parsing"
    },
    {
      "name": "Questions",
      "description": "Question template management"
    },
    {
      "name": "Questionnaires",
      "description": "Questionnaire management with versioning"
    },
    {
      "name": "Blocks",
      "description": "Block template management"
    },
    {
      "name": "Storage",
      "description": "Storage statistics"
    },
    {
      "name": "StorageConnections",
      "description": "Storage connection management (external S3, SFTP, Azure, GCS, etc.)"
    },
    {
      "name": "StorageSyncLogs",
      "description": "Storage sync log viewing"
    },
    {
      "name": "FileManager",
      "description": "File browsing, upload, download, and management"
    }
  ],
  "paths": {
    "/analytics/overview": {
      "get": {
        "summary": "Overview dashboard with summary KPIs, performance distribution, and score distribution",
        "operationId": "getOverviewDashboard",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FromDateParam"
          },
          {
            "$ref": "#/components/parameters/ToDateParam"
          },
          {
            "$ref": "#/components/parameters/ProjectIdParam"
          },
          {
            "$ref": "#/components/parameters/ServicePartnerIdParam"
          },
          {
            "$ref": "#/components/parameters/TeamIdParam"
          },
          {
            "$ref": "#/components/parameters/CampaignIdParam"
          },
          {
            "$ref": "#/components/parameters/QuestionnaireIdParam"
          },
          {
            "$ref": "#/components/parameters/EvaluationTypeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Overview dashboard data",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/OverviewDashboardData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/analytics/agents/{agentId}": {
      "get": {
        "summary": "Agent scorecard with summary stats, block breakdown, and score trend",
        "operationId": "getAgentScorecard",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID"
          },
          {
            "$ref": "#/components/parameters/FromDateParam"
          },
          {
            "$ref": "#/components/parameters/ToDateParam"
          },
          {
            "$ref": "#/components/parameters/ProjectIdParam"
          },
          {
            "$ref": "#/components/parameters/ServicePartnerIdParam"
          },
          {
            "$ref": "#/components/parameters/QuestionnaireIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent scorecard data",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AgentScorecardData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/analytics/compare": {
      "get": {
        "summary": "Hierarchy comparison across projects, service partners, teams, or campaigns",
        "operationId": "getHierarchyComparison",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "groupBy",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "project",
                "servicePartner",
                "team",
                "campaign"
              ]
            },
            "description": "Entity dimension to group results by"
          },
          {
            "$ref": "#/components/parameters/FromDateParam"
          },
          {
            "$ref": "#/components/parameters/ToDateParam"
          },
          {
            "$ref": "#/components/parameters/ProjectIdParam"
          },
          {
            "$ref": "#/components/parameters/ServicePartnerIdParam"
          },
          {
            "$ref": "#/components/parameters/TeamIdParam"
          },
          {
            "$ref": "#/components/parameters/QuestionnaireIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Hierarchy comparison data",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/HierarchyComparisonData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/analytics/blocks": {
      "get": {
        "summary": "Block analytics with per-block and per-question stats for a questionnaire",
        "operationId": "getBlockAnalytics",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "questionnaireId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Questionnaire ID (required)"
          },
          {
            "$ref": "#/components/parameters/FromDateParam"
          },
          {
            "$ref": "#/components/parameters/ToDateParam"
          },
          {
            "name": "agentId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by agent ID"
          },
          {
            "$ref": "#/components/parameters/ProjectIdParam"
          },
          {
            "$ref": "#/components/parameters/ServicePartnerIdParam"
          },
          {
            "$ref": "#/components/parameters/TeamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Block analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/BlockAnalyticsData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/analytics/leaderboard": {
      "get": {
        "summary": "Agent leaderboard ranked by score, evaluations, or improvement rate",
        "operationId": "getLeaderboard",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FromDateParam"
          },
          {
            "$ref": "#/components/parameters/ToDateParam"
          },
          {
            "$ref": "#/components/parameters/ProjectIdParam"
          },
          {
            "$ref": "#/components/parameters/ServicePartnerIdParam"
          },
          {
            "$ref": "#/components/parameters/TeamIdParam"
          },
          {
            "$ref": "#/components/parameters/QuestionnaireIdParam"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Number of agents to return (1-100, default: 20)"
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "avgScore",
                "totalEvaluations",
                "improvementRate"
              ],
              "default": "avgScore"
            },
            "description": "Field to sort leaderboard by"
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Leaderboard data",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/LeaderboardEntry"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/analytics/trends": {
      "get": {
        "summary": "Score trends over time with configurable interval",
        "operationId": "getScoreTrend",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FromDateParam"
          },
          {
            "$ref": "#/components/parameters/ToDateParam"
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month"
              ],
              "default": "week"
            },
            "description": "Time interval for trend buckets"
          },
          {
            "name": "agentId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by agent ID"
          },
          {
            "$ref": "#/components/parameters/ProjectIdParam"
          },
          {
            "$ref": "#/components/parameters/ServicePartnerIdParam"
          },
          {
            "$ref": "#/components/parameters/TeamIdParam"
          },
          {
            "$ref": "#/components/parameters/QuestionnaireIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Score trend data",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ScoreTrendData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/analytics/agents/{agentId}/communication": {
      "get": {
        "summary": "Communication analytics for an agent including speaking stats, peer averages, and trends",
        "operationId": "getCommunicationAnalytics",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID"
          },
          {
            "$ref": "#/components/parameters/FromDateParam"
          },
          {
            "$ref": "#/components/parameters/ToDateParam"
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month"
              ],
              "default": "week"
            },
            "description": "Time interval for trend buckets"
          },
          {
            "$ref": "#/components/parameters/ProjectIdParam"
          },
          {
            "$ref": "#/components/parameters/ServicePartnerIdParam"
          },
          {
            "$ref": "#/components/parameters/TeamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Communication analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CommunicationAnalyticsData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/analytics/calibration": {
      "get": {
        "summary": "AI vs human calibration analysis with overall, per-agent, and per-block score gaps",
        "operationId": "getCalibration",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FromDateParam"
          },
          {
            "$ref": "#/components/parameters/ToDateParam"
          },
          {
            "$ref": "#/components/parameters/ProjectIdParam"
          },
          {
            "$ref": "#/components/parameters/ServicePartnerIdParam"
          },
          {
            "$ref": "#/components/parameters/TeamIdParam"
          },
          {
            "$ref": "#/components/parameters/QuestionnaireIdParam"
          },
          {
            "name": "agentId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by agent ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Calibration data",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CalibrationData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/analytics/agents/{agentId}/consistency": {
      "get": {
        "summary": "Score consistency analysis for an agent with peer comparison and recent scores",
        "operationId": "getScoreConsistency",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID"
          },
          {
            "$ref": "#/components/parameters/FromDateParam"
          },
          {
            "$ref": "#/components/parameters/ToDateParam"
          },
          {
            "$ref": "#/components/parameters/ProjectIdParam"
          },
          {
            "$ref": "#/components/parameters/ServicePartnerIdParam"
          },
          {
            "$ref": "#/components/parameters/TeamIdParam"
          },
          {
            "$ref": "#/components/parameters/QuestionnaireIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Score consistency data",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ScoreConsistencyData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/analytics/ai/agents/{agentId}/profile": {
      "get": {
        "summary": "Agent AI profile with competency scores, call center metrics, strengths, weaknesses, and coaching priorities",
        "operationId": "getAgentAiProfile",
        "tags": [
          "AIAnalytics"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID"
          },
          {
            "$ref": "#/components/parameters/FromDateParam"
          },
          {
            "$ref": "#/components/parameters/ToDateParam"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Maximum number of evaluations to analyze (1-100, default: 50)"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent AI profile data",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AgentAiProfileData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/analytics/ai/agents/{agentId}/improvement": {
      "get": {
        "summary": "Improvement tracking with competency dimension trends over time",
        "operationId": "getImprovementTracking",
        "tags": [
          "AIAnalytics"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID"
          },
          {
            "$ref": "#/components/parameters/FromDateParam"
          },
          {
            "$ref": "#/components/parameters/ToDateParam"
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month"
              ],
              "default": "week"
            },
            "description": "Time interval for trend buckets"
          }
        ],
        "responses": {
          "200": {
            "description": "Improvement tracking data",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ImprovementTrackingData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/analytics/ai/insights": {
      "get": {
        "summary": "Team/org insight report with competency radar data grouped by entity",
        "operationId": "getInsightReport",
        "tags": [
          "AIAnalytics"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FromDateParam"
          },
          {
            "$ref": "#/components/parameters/ToDateParam"
          },
          {
            "name": "groupBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "team",
                "servicePartner",
                "project"
              ],
              "default": "team"
            },
            "description": "Entity dimension to group insights by"
          },
          {
            "$ref": "#/components/parameters/ProjectIdParam"
          },
          {
            "$ref": "#/components/parameters/ServicePartnerIdParam"
          },
          {
            "$ref": "#/components/parameters/TeamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Insight report data",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/InsightReportData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/analytics/ai/summary": {
      "get": {
        "summary": "AI summary report with org-wide competency profile, call center metrics, and agent highlights",
        "operationId": "getAiSummaryReport",
        "tags": [
          "AIAnalytics"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FromDateParam"
          },
          {
            "$ref": "#/components/parameters/ToDateParam"
          },
          {
            "name": "agentId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by agent ID"
          },
          {
            "$ref": "#/components/parameters/ProjectIdParam"
          },
          {
            "$ref": "#/components/parameters/ServicePartnerIdParam"
          },
          {
            "$ref": "#/components/parameters/TeamIdParam"
          },
          {
            "$ref": "#/components/parameters/QuestionnaireIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "AI summary report data",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AiSummaryReportData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/analytics/quality-monitor": {
      "get": {
        "summary": "Quality monitor with all questions grouped by blocks and time-bucketed pass rates",
        "operationId": "getQualityMonitor",
        "tags": [
          "Monitoring"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "timeGrouping",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "dayOfWeek",
                "monthly",
                "quarterly",
                "yearly"
              ]
            },
            "description": "Time bucketing strategy (required)"
          },
          {
            "$ref": "#/components/parameters/FromDateParam"
          },
          {
            "$ref": "#/components/parameters/ToDateParam"
          },
          {
            "$ref": "#/components/parameters/MultiProjectIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiServicePartnerIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiTeamIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiCampaignIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiQuestionnaireIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiAgentIdParam"
          },
          {
            "$ref": "#/components/parameters/EvaluationTypeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Quality monitor data",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/QualityMonitorData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/analytics/question-monitor": {
      "get": {
        "summary": "Question monitor with per-question pass rates across all entity dimensions",
        "operationId": "getQuestionMonitor",
        "tags": [
          "Monitoring"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "questionId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Question ID to monitor (required)"
          },
          {
            "$ref": "#/components/parameters/FromDateParam"
          },
          {
            "$ref": "#/components/parameters/ToDateParam"
          },
          {
            "$ref": "#/components/parameters/MultiProjectIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiServicePartnerIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiTeamIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiCampaignIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiQuestionnaireIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiAgentIdParam"
          },
          {
            "$ref": "#/components/parameters/EvaluationTypeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Question monitor data",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/QuestionMonitorData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/analytics/analysis-chart": {
      "get": {
        "summary": "Analysis chart with time-series pass rates grouped by entity or block",
        "operationId": "getAnalysisChart",
        "tags": [
          "Monitoring"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chartView",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "team",
                "agent",
                "servicePartner",
                "project",
                "campaign"
              ]
            },
            "description": "Dimension for chart series (required)"
          },
          {
            "name": "timeGrouping",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "dayOfWeek",
                "monthly",
                "quarterly",
                "yearly"
              ]
            },
            "description": "Time bucketing strategy (required)"
          },
          {
            "$ref": "#/components/parameters/FromDateParam"
          },
          {
            "$ref": "#/components/parameters/ToDateParam"
          },
          {
            "$ref": "#/components/parameters/ProjectIdParam"
          },
          {
            "$ref": "#/components/parameters/ServicePartnerIdParam"
          },
          {
            "$ref": "#/components/parameters/TeamIdParam"
          },
          {
            "$ref": "#/components/parameters/CampaignIdParam"
          },
          {
            "$ref": "#/components/parameters/QuestionnaireIdParam"
          },
          {
            "name": "agentId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by agent ID"
          },
          {
            "$ref": "#/components/parameters/EvaluationTypeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis chart data",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AnalysisChartData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/analytics/evaluation-overview": {
      "get": {
        "summary": "Evaluation overview with summary cards and per-questionnaire block/question breakdown",
        "operationId": "getEvaluationOverview",
        "tags": [
          "Monitoring"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FromDateParam"
          },
          {
            "$ref": "#/components/parameters/ToDateParam"
          },
          {
            "$ref": "#/components/parameters/MultiProjectIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiServicePartnerIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiTeamIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiCampaignIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiQuestionnaireIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiAgentIdParam"
          },
          {
            "$ref": "#/components/parameters/EvaluationTypeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Evaluation overview data",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EvaluationOverviewData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/analytics/benchmark": {
      "get": {
        "summary": "Benchmark matrix with questions grouped by blocks and pass rates per entity",
        "operationId": "getBenchmark",
        "tags": [
          "Benchmark"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "groupBy",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "agent",
                "team",
                "servicePartner",
                "project",
                "campaign"
              ]
            },
            "description": "Entity dimension for benchmark columns (required)"
          },
          {
            "$ref": "#/components/parameters/FromDateParam"
          },
          {
            "$ref": "#/components/parameters/ToDateParam"
          },
          {
            "$ref": "#/components/parameters/MultiProjectIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiServicePartnerIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiTeamIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiCampaignIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiQuestionnaireIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiAgentIdParam"
          },
          {
            "$ref": "#/components/parameters/EvaluationTypeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Benchmark data",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/BenchmarkData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/analytics/evaluation-results": {
      "get": {
        "summary": "Paginated evaluation results with sorting, filtering, and entity name resolution",
        "operationId": "getEvaluationResults",
        "tags": [
          "EvaluationResults"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FromDateParam"
          },
          {
            "$ref": "#/components/parameters/ToDateParam"
          },
          {
            "$ref": "#/components/parameters/MultiProjectIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiServicePartnerIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiTeamIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiCampaignIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiQuestionnaireIdParam"
          },
          {
            "$ref": "#/components/parameters/MultiAgentIdParam"
          },
          {
            "$ref": "#/components/parameters/EvaluationTypeParam"
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "callDateTime",
                "createdAt",
                "totalScore",
                "totalEarned",
                "totalMaxScore",
                "evaluationType",
                "evaluatedBy",
                "filename"
              ],
              "default": "callDateTime"
            },
            "description": "Field to sort results by"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Items per page (1-100, default: 25)"
          }
        ],
        "responses": {
          "200": {
            "description": "Evaluation results with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EvaluationResultsData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/analytics/management-report": {
      "get": {
        "summary": "Management report with aggregated KPIs, trends, sentiment, NPS, team breakdown, and recent evaluations",
        "operationId": "getManagementReport",
        "tags": [
          "ManagementReport"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FromDateParam"
          },
          {
            "$ref": "#/components/parameters/ToDateParam"
          },
          {
            "$ref": "#/components/parameters/ProjectIdParam"
          },
          {
            "$ref": "#/components/parameters/ServicePartnerIdParam"
          },
          {
            "$ref": "#/components/parameters/TeamIdParam"
          },
          {
            "$ref": "#/components/parameters/CampaignIdParam"
          },
          {
            "$ref": "#/components/parameters/QuestionnaireIdParam"
          },
          {
            "$ref": "#/components/parameters/EvaluationTypeParam"
          },
          {
            "name": "agentId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by agent ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Management report data",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ManagementReportData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/analytics/management-report/lagebericht": {
      "post": {
        "summary": "Generate AI-powered status report (Lagebericht) from dashboard data",
        "operationId": "generateLagebericht",
        "tags": [
          "ManagementReport"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LageberichtRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI-generated status report",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/LageberichtResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "502": {
            "description": "AI service unavailable or returned invalid response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "AI report generation not configured (missing OPENAI_API_KEY)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/analytics/chat/conversations": {
      "post": {
        "summary": "Create a new chatbot conversation",
        "operationId": "createConversation",
        "tags": [
          "Chatbot"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Optional title for the conversation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conversation created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Conversation"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "summary": "List chatbot conversations for the current user",
        "operationId": "listConversations",
        "tags": [
          "Chatbot"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Maximum number of conversations to return (1-100, default: 50)"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Number of conversations to skip (default: 0)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of conversations",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ConversationSummary"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/analytics/chat/conversations/{conversationId}": {
      "get": {
        "summary": "Get a specific conversation with all messages",
        "operationId": "getConversation",
        "tags": [
          "Chatbot"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Conversation ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation with messages",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Conversation"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "summary": "Delete (soft-delete) a conversation",
        "operationId": "deleteConversation",
        "tags": [
          "Chatbot"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Conversation ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation deleted",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "nullable": true,
                          "description": "null on successful deletion"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/analytics/chat/conversations/{conversationId}/messages": {
      "post": {
        "summary": "Send a message to the AI chatbot and get a response",
        "operationId": "sendMessage",
        "tags": [
          "Chatbot"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Conversation ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2000,
                    "description": "User message to send to the AI assistant"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI response with optional tool calls",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ChatMessageResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "description": "AI assistant temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Chatbot not configured (missing OPENAI_API_KEY)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/agents": {
      "post": {
        "summary": "Create a new agent",
        "operationId": "createAgent",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fullName",
                  "aliasName",
                  "teamId"
                ],
                "properties": {
                  "fullName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "description": "Agent full name"
                  },
                  "aliasName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "description": "Agent alias name"
                  },
                  "externalId": {
                    "type": "string",
                    "description": "Optional external reference ID from your system"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Agent email (optional, unique per tenant if provided)"
                  },
                  "teamId": {
                    "type": "string",
                    "description": "Team ID to assign the agent to (UUID)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Agent"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "summary": "List agents with pagination and filters",
        "operationId": "listAgents",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/SearchParam"
          },
          {
            "name": "externalId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by exact external reference ID"
          },
          {
            "name": "teamId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by current team ID (UUID)"
          },
          {
            "name": "servicePartnerId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by service partner ID (UUID)"
          },
          {
            "name": "projectId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by project ID (UUID)"
          },
          {
            "name": "isActive",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "Filter by active status"
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "fullName",
                "createdAt",
                "updatedAt"
              ],
              "default": "createdAt"
            },
            "description": "Sort field"
          },
          {
            "$ref": "#/components/parameters/SortOrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of agents",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "agents": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Agent"
                              }
                            },
                            "pagination": {
                              "$ref": "#/components/schemas/Pagination"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/agents/{id}": {
      "get": {
        "summary": "Get agent by ID",
        "operationId": "getAgent",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID (UUID)"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Agent"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "summary": "Update an agent",
        "operationId": "updateAgent",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID (UUID)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fullName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "description": "Agent full name"
                  },
                  "aliasName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "description": "Agent alias name"
                  },
                  "externalId": {
                    "type": "string",
                    "nullable": true,
                    "description": "External reference ID (set to null to remove)"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "nullable": true,
                    "description": "Agent email (set to null to remove)"
                  },
                  "isActive": {
                    "type": "boolean",
                    "description": "Whether the agent is active"
                  },
                  "teamId": {
                    "type": "string",
                    "description": "New team ID (UUID) — if different from current team, automatically closes old membership and creates new one"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Agent"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete an agent",
        "operationId": "deleteAgent",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID (UUID)"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/agents/import/template": {
      "get": {
        "summary": "Download agent import XLSX template",
        "operationId": "getAgentImportTemplate",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "XLSX template file for agent import",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/agents/import": {
      "post": {
        "summary": "Upload and validate an agent import file",
        "operationId": "validateAgentImport",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "XLSX file containing agents to import"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Import validation results",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "validResults": {
                              "type": "array",
                              "items": {
                                "type": "object"
                              },
                              "description": "Rows that passed validation"
                            },
                            "invalidResults": {
                              "type": "array",
                              "items": {
                                "type": "object"
                              },
                              "description": "Rows that failed validation with error details"
                            },
                            "summary": {
                              "type": "object",
                              "description": "Summary counts of valid and invalid rows"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/agents/import/confirm": {
      "post": {
        "summary": "Confirm and create agents from validated import data",
        "operationId": "confirmAgentImport",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "agents"
                ],
                "properties": {
                  "agents": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 500,
                    "description": "Array of agents to create (max 500)",
                    "items": {
                      "type": "object",
                      "required": [
                        "fullName",
                        "aliasName",
                        "teamId"
                      ],
                      "properties": {
                        "fullName": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 200,
                          "description": "Agent full name"
                        },
                        "aliasName": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 200,
                          "description": "Agent alias name"
                        },
                        "externalId": {
                          "type": "string",
                          "description": "External reference ID"
                        },
                        "email": {
                          "type": "string",
                          "format": "email",
                          "description": "Agent email"
                        },
                        "teamId": {
                          "type": "string",
                          "description": "Team ID (UUID)"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agents created from import",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "createdCount": {
                              "type": "integer",
                              "description": "Number of agents successfully created"
                            },
                            "agents": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Agent"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/campaigns": {
      "post": {
        "summary": "Create a new campaign",
        "operationId": "createCampaign",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "questionnaireId"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "description": "Campaign name"
                  },
                  "questionnaireId": {
                    "type": "string",
                    "description": "Questionnaire ID (UUID)"
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Start date (ISO 8601)"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "End date (ISO 8601)"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "paused",
                      "archived"
                    ],
                    "default": "active",
                    "description": "Campaign status"
                  },
                  "targets": {
                    "type": "array",
                    "description": "Target assignments",
                    "items": {
                      "type": "object",
                      "required": [
                        "level"
                      ],
                      "properties": {
                        "level": {
                          "type": "string",
                          "enum": [
                            "project",
                            "servicePartner",
                            "team",
                            "agent"
                          ],
                          "description": "Target level"
                        },
                        "projectId": {
                          "type": "string",
                          "description": "Required when level is \"project\" (UUID)"
                        },
                        "servicePartnerId": {
                          "type": "string",
                          "description": "Required when level is \"servicePartner\" (UUID)"
                        },
                        "teamId": {
                          "type": "string",
                          "description": "Required when level is \"team\" (UUID)"
                        },
                        "userId": {
                          "type": "string",
                          "description": "Required when level is \"agent\" (UUID)"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Campaign created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Campaign"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "summary": "List campaigns with pagination and filters",
        "operationId": "listCampaigns",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/SearchParam"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "paused",
                "archived"
              ]
            },
            "description": "Filter by campaign status"
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "status",
                "createdAt",
                "updatedAt",
                "startDate"
              ],
              "default": "createdAt"
            },
            "description": "Sort field"
          },
          {
            "$ref": "#/components/parameters/SortOrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of campaigns",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "campaigns": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Campaign"
                              }
                            },
                            "pagination": {
                              "$ref": "#/components/schemas/Pagination"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/campaigns/{id}": {
      "get": {
        "summary": "Get campaign by ID",
        "operationId": "getCampaign",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Campaign ID (UUID)"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign details",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Campaign"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "summary": "Update a campaign",
        "operationId": "updateCampaign",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Campaign ID (UUID)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "description": "Campaign name"
                  },
                  "questionnaireId": {
                    "type": "string",
                    "description": "Questionnaire ID (UUID)"
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Start date (ISO 8601)"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "End date (ISO 8601)"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "paused",
                      "archived"
                    ],
                    "description": "Campaign status"
                  },
                  "targets": {
                    "type": "array",
                    "description": "Replace all targets (soft-deletes old ones)",
                    "items": {
                      "type": "object",
                      "required": [
                        "level"
                      ],
                      "properties": {
                        "level": {
                          "type": "string",
                          "enum": [
                            "project",
                            "servicePartner",
                            "team",
                            "agent"
                          ],
                          "description": "Target level"
                        },
                        "projectId": {
                          "type": "string"
                        },
                        "servicePartnerId": {
                          "type": "string"
                        },
                        "teamId": {
                          "type": "string"
                        },
                        "userId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Campaign"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete a campaign",
        "operationId": "deleteCampaign",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Campaign ID (UUID)"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/campaigns/{id}/agents": {
      "get": {
        "summary": "Get agents relevant to a campaign",
        "operationId": "getCampaignAgents",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Campaign ID (UUID)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of agents associated with the campaign",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "fullName": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string",
                                "nullable": true
                              },
                              "primaryTeamId": {
                                "type": "string",
                                "nullable": true
                              },
                              "servicePartnerId": {
                                "type": "string",
                                "nullable": true
                              },
                              "projectId": {
                                "type": "string",
                                "nullable": true
                              },
                              "isActive": {
                                "type": "boolean"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/projects": {
      "post": {
        "summary": "Create a new project",
        "operationId": "createProject",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "Project name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Project"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
[...]
